.weather-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-xl);
  gap: var(--space-xl);
}
.main-weather-card {
  position: relative;
  padding: var(--space-2xl) var(--space-xl);
  border: 1px solid var(--text-secondary);
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);
}

.bookmark-icon {
  position: absolute;
  top: 5%;
  right: 20px;
}

.weather-description-text {
  text-align: center;
}

.weather-description-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-lg);
}
.weather-description-number span {
  font-family: var(--font-heading);
  line-height: 1.1;
}
.weather-icon {
  height: 0.75em;
  width: 0.75em;
}

.high-low-container {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}

.high-temp,
.low-temp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-icon {
  width: 1em;
}
