.form-input {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.fav-btn {
  padding: 10px;
  background-color: #396eff;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.fav-btn:hover {
  transform: scale(1.05);
  background-color: #1e59fa;
}
.fav-btn:active {
  background-color: #e0e8ff;
}

.add-fav-btn {
  padding: 10px;
  background-color: #3a28ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease;
}
